*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.container
{
	position: relative;
	overflow: hidden;
	margin: auto;
    width: 50%; 
    min-height: 100%;
    border: 3px solid green;
    padding: 10px;
	/*border: 1px solid black;
	height: 500px;
	width: 100%;
	position: relative;
	background-color: red;
	margin: 50%;
	display: inline-block;
	overflow: hidden;*/
	/*left: 20%;*/
	/*right: 20%;*/
	/*top: 50%;*/
	text-align: center;
}
h1
{

}
.computer
{
	width: 50%;
	min-height: 80%;
	background-color: green;
	float: left;
}
.computerimg
{
	/*margin: auto;*/
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
    width: 70%; height: 300px;
    border: 3px solid green;
    padding: 10px;
    background-color: yellow;
    text-align: center;
}
.choice
{
	border: 3px solid white;
	border-radius: 50%;
	/*margin: 0 20px;*/
	padding: 10px;
	display: inline-block;
	transition: all 0.3s ease;
}
.choice-disablee
{
	cursor: not-allowed;
	border: 3px solid white;
	border-radius: 50%;
	/*margin: 0 20px;*/
	padding: 10px;
	display: inline-block;
	transition: all 0.3s ease;
}
.choices, .userchoices
{
	margin-top: 50px 0;
	text-align: center;
}
.choice:hover
{
	cursor: pointer;
}
img
{
	align-self: center;
	width: 100%;
	height: 100%;
}
.user
{
	width: 50%;
	min-height: 80%;
	background-color: yellow;
	float: right;

}
.userimg
{
	/*margin: auto;*/
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
    width: 70%; height: 300px;
    border: 3px solid green;
    padding: 10px;
    background-color: green;
}
i.far
{
	font-size: 3em;
	color: black;
}